# ==========================
# POSTGRES
# ==========================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=DARIONHANWUL
POSTGRES_DB=TravelPlannerAgent

# ==========================
# FASTAPI
# ==========================

BACKEND_PORT=8000

# ==========================
# FRONTEND
# ==========================

FRONTEND_PORT=5173

# ==========================
# OLLAMA
# ==========================

OLLAMA_PORT=11434

# ==========================
# WEAVIATE
# ==========================

WEAVIATE_PORT=8080

# ==========================
# JWT
# ==========================

JWT_SECRET=travelplanner_secret_key
JWT_ALGORITHM=HS256

# ==========================
# APP
# ==========================

ENV=development