fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
greenlet
alembic

pydantic
pydantic-settings

python-dotenv
python-decouple

python-jose[cryptography]
passlib[bcrypt]

python-multipart
email-validator

httpx
requests

beautifulsoup4

lxml

loguru

weaviate-client

langchain
langchain-core
langchain-community
langchain-weaviate
langchain-ollama
langgraph

ollama

pypdf
tiktoken

pytest
pypdf

numpy