fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
asyncpg
greenlet
alembic

pydantic
pydantic-settings
python-dotenv
weaviate
binary 

python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator

httpx
requests
beautifulsoup4
lxml

loguru

weaviate-client
ollama

langchain
langchain-core
langchain-community
langchain-weaviate
langchain-ollama
langgraph

pypdf
tiktoken
numpy

pytest